.top-line
{
	width: 100%;
	height: 60px;
	background-color: #111;
	border-bottom: 2px rgba(241, 196, 15, 0.7) solid;
	margin-bottom: 30px;
}

.header-logo
{
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif; /* Default Font Family */
	font-weight: 400;
	font-size: 1.6rem;
}

.header-logo a
{
	color: #DDD;
	text-decoration: none;
}

.header-logo a:hover
{
	opacity: 0.8;
}

.header-menu
{
	float: left;
}

.acc-menu
{
	float: right;
}

.account-menu
{
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 18px 10px 0px 0px;
	float: right;
}

.account-menu2
{
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 15px 10px 0px 0px;
	float: right;
}

.account-menu li
{
	float: left;
}

.account-menu li a
{
	text-decoration: none;
	color: #EEE;
	padding: 8px 20px 8px 20px;
	font-family: 'Lato', sans-serif; /* Default Font Family */
	font-weight: 400;
	font-size: 0.9rem;
	text-align: left;
}

.account-menu li .current-nav
{
	border-bottom: 5px rgba(241, 196, 15, 0.9) solid;
}

.account-menu2 li
{
	float: left;
}

.account-menu2 li a
{
	text-decoration: none;
	color: #EEE;
	padding: 8px 20px 8px 20px;
	font-family: 'Lato', sans-serif; /* Default Font Family */
	font-weight: 400;
	font-size: 0.9rem;
	text-align: left;
}

.account-menu2 li .current-nav
{
	border-bottom: 5px rgba(241, 196, 15, 0.9) solid;
}

.main-menu
{
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 15px 10px 0px 0px;
}

.main-menu li
{
	float: left;
}

.main-menu li a
{
	text-decoration: none;
	color: #EEE;
	padding: 8px 20px 8px 20px;
	font-family: 'Lato', sans-serif; /* Default Font Family */
	font-weight: 400;
	font-size: 0.9rem;
	text-align: left;
}

.main-menu li .current-nav
{
	border-bottom: 5px rgba(241, 196, 15, 0.9) solid;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after
{
    display: block;
    width: 0;
    height: 0;
    border: 0px;
    border-bottom-width: 0;
    border-top-style: none;
    border-color: transparent transparent transparent;
    right: 0px;
    margin-top: 0px;
}

.submenu
{
	color: #DDD;
	background-color: #111;
	margin-top: 5px;
}

.submenu li:hover
{
	color: #DDD;
	background-color: #333;
}

.menu
{
	left: -5px;
	border: 0px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a
{
    position: relative;
    padding-right: 1.2rem;
}

.current-sub-nav
{
	background-color: #333;
}
























